#memberships
  %br
  %div.subtitle_tools
    - if @account.contracts.membership_contracts.unsigned.count == 0
      - if @account.suspended?
        = link_to_inline("new_membership_state", new_membership_state_account_path(@account, :contract => "resume"), :text => t("resume"))

      - if @account.expired?
        = link_to_inline("new_membership_state", new_membership_state_account_path(@account, :contract => "renew"), :text => t("renew"))

      - if @account.active?
        = link_to_inline("new_membership_state", new_membership_state_account_path(@account, :contract => "suspend"), :text => t("suspend"))
        = link_to_inline("new_membership_state", new_membership_state_account_path(@account, :contract => "transfer"), :text => t("transfer"))

  .subtitle#new_membership_state_title= t(:membership)
  .remote#new_membership_state{:style =>"display:none;"}

  .list#states
    - unsigned_contracts = @account.contracts.membership_contracts.unsigned.order("created_at desc")

    - unsigned_contracts.each do |contract|
      = render :partial => 'contracts/contract', :locals => {:contract => contract}

    - object.membership_states.order("created_at desc").each do |membership_state|
      %li{:class =>membership_state.state_type}
        %span.type.strip
          = "#{t("view.membership_states.state.#{membership_state.state_type}")}"
        %span.created_at
          = "#{membership_state.created_at.to_date}:"
        - case membership_state.state_type
          - when MembershipState::TYPES::ACTIVE
            %span.membership_type
              = "#{MembershipType.find_by_id(membership_state.type_id).try(:name)}"
            %span.range
              = "#{membership_state.started_on} - #{membership_state.finished_on}"
          - when MembershipState::TYPES::SUSPENDED
            %span.range
              = "#{membership_state.started_on} - #{membership_state.finished_on}"
          - when MembershipState::TYPES::TRANSFERRED
            %span.transfer_target
              - account = Account.find_by_id(membership_state.target_id)
              = link_to account.name, account_path(account)
          - when MembershipState::TYPES::TERMINATED
            = "#{membership_state.reason}"
        %span.contract
          - if membership_state.contract_id
            = link_to membership_state.contract_id, contract_path(:id => membership_state.contract_id)
