<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><br />
    <%= f.text_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :contract_type %><br />
    <%= f.text_field :contract_type %>
  </div>
  <div class="field">
    <%= f.label :contract_template %><br />
    <%= f.text_field :contract_template %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :parameters %><br />
    <%= f.text_area :parameters %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br />
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :signed_at %><br />
    <%= f.datetime_select :signed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
