.section
  #membership_contract
    %table
      %tr
        %td
          .label.req= t(:type) + ":"
          = f.collection_select :type_id, MembershipType.all, :id, :name
        %td=spacer(16)
        %td
          .label.req= t(:started_on) + ":"
          = f.text_field :started_on, :autocomplete => 'off'
= render :partial => 'accounts/basic_info', :locals => {:f => f}
= render :partial => 'accounts/contact_info', :locals => {:f => f}
