<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Contract</th>
    <th>Contract type</th>
    <th>Contract template</th>
    <th>Content</th>
    <th>Parameters</th>
    <th>State</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Signed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.contract_id %></td>
    <td><%= contract.contract_type %></td>
    <td><%= contract.contract_template %></td>
    <td><%= contract.content %></td>
    <td><%= contract.parameters %></td>
    <td><%= contract.state %></td>
    <td><%= contract.start_at %></td>
    <td><%= contract.end_at %></td>
    <td><%= contract.signed_at %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
