<p id="notice"><%= notice %></p>

<p>
  <b>Contract:</b>
  <%= @contract.contract_id %>
</p>

<p>
  <b>Contract type:</b>
  <%= @contract.contract_type %>
</p>

<p>
  <b>Contract template:</b>
  <%= @contract.contract_template %>
</p>

<p>
  <b>Content:</b>
  <%= @contract.content %>
</p>

<p>
  <b>Parameters:</b>
  <%= @contract.parameters %>
</p>

<p>
  <b>State:</b>
  <%= @contract.state %>
</p>

<p>
  <b>Start at:</b>
  <%= @contract.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @contract.end_at %>
</p>

<p>
  <b>Signed at:</b>
  <%= @contract.signed_at %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
