= form_for [:admin, @lesson], :html => one_submit_only(:lesson), :remote => true do |f|
  = linkt_to_close new_admin_lesson_path
  = f.error_messages :object_name => t(:lessons)
  = render "admin/lessons/top_section", :f => f
  .buttonbar
    = f.submit t(:create_lesson), :id =>:lesson_submit
    or
    = link_to_cancel new_admin_lesson_path