<%= form_for(@schedule_template) do |f| %>
  <% if @schedule_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule_template.errors.count, "error") %> prohibited this schedule_template from being saved:</h2>

      <ul>
      <% @schedule_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :template %><br />
    <%= f.text_area :template %>
  </div>
  <div class="field">
    <%= f.label :attributes %><br />
    <%= f.text_area :attributes %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
