<p id="notice"><%= notice %></p>

<p>
  <b>Template:</b>
  <%= @schedule_template.template %>
</p>

<p>
  <b>Attributes:</b>
  <%= @schedule_template.attributes %>
</p>

<p>
  <b>Parent:</b>
  <%= @schedule_template.parent %>
</p>


<%= link_to 'Edit', edit_schedule_template_path(@schedule_template) %> |
<%= link_to 'Back', schedule_templates_path %>
