= hook(:lead_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top.req #{t :first_name}:
          = f.text_field :first_name
        %td= spacer
        %td
          .label.top{ :class => "#{Setting.require_last_names ? 'req' : ''}" } #{t :last_name}:
          = f.text_field :last_name
      %tr
        %td
          .label #{t :gender}:
          = f.select :gender, [[t(:male), 0], [t(:female), 1]]
        %td= spacer
        %td
          .label #{t :source}:
          - if @campaign && !edit # Create a lead from Campaign landing page: select :campaign as a source and disable the dropdown.
            = f.select :source, Setting.unroll(:lead_source), { :selected => :campaign }, { :style => "width:160px;", :disabled => true }
            = hidden_field_tag "lead[source]", "campaign"
          - else
            = f.select :source, Setting.unroll(:lead_source), { :selected => (@lead.source || "other").to_sym }, { :style => "width:160px" }
      %tr
        %td
          .label #{t :email}:
          = f.text_field :email
        %td= spacer
        %td
          .label #{t :mobile}:
          = f.text_field :mobile

      - if Setting.background_info && Setting.background_info.include?(:lead)
        %tr
          %td(colspan="3")
            .label= t(:background_info) << ':'
            = f.text_area :background_info, :style =>"width:500px", :rows => 3

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:lead_top_section_bottom, self, :f => f)
