%html
  %head
    = stylesheet_link_tag :welcome
    = javascript_include_tag :application
    = javascript_include_tag :moment
    = javascript_include_tag :welcome
  %script{type: "text/javascript"}
    (function($){
    $(function(){
    $('#membership-block').slideUp();
    $('#lesson-block').slideUp();
    })})(jQuery)

  %body
    #container
      #header
        %span.company-name OZone
        %span.system-name Swap Card
        #member-id
      #top
        -#%ul#recommend-actions
          %li.first= "Member fee discount"
          %li= "Course fee discount"
      #content
        #left
          #user-info-block
            .avatar-wrapper
              .avatar
                = image_tag 'default_avatar_128_128.jpg', :width => 128, :height => 128
              .info
                %dl
                  %dt= t(:"view.welcome.name")
                  %dd.name Nobody
                  %dt= t(:"view.welcome.gender")
                  %dd.gender None
                  %dt= t(:"view.welcome.age")
                  %dd.age 18
                  %dt= t(:"view.welcome.phone")
                  %dd.phone 1380000000
          #membership-block
            .info
              %dl
                %dt= t(:"view.welcome.membership_status")
                %dd.membership_status 正常
                %dt= t(:"view.welcome.membership_consultant")
                %dd.membership_consultant 杜思雨
                /%dt= t(:"view.welcome.has_order_today")
                /%dd.has_order 没有预约
                %dt= t(:"view.welcome.membership_type")
                %dd.membership_type 免费卡
                %dt= t(:"view.welcome.membership_duration")
                %dd.membership_duration 3年186天
                %dt= t(:"view.welcome.membership_finished_on")
                %dd.membership_finished_on 2012/12/23
                %dt= t(:"view.welcome.days_before_due_date")
                %dd.days_before_due_date 12
                %dt= t(:"view.welcome.last_visit_time")
                %dd.last_visit_time 2012/09/22
                %dt= t(:"view.welcome.days_since_last_visit")
                %dd.days_since_last_visit 1
        #right
          #lesson-block
            .info
              %dl
                %dt= t(:"view.welcome.lesson_trainer")
                %dd.trainer_name Ray
                /%dt= t(:"view.welcome.has_order_today)
                /%dd 是, 10:00AM - 11:00AM
                %dt= t(:"view.welcome.lesson_type")
                %dd.lesson_type 标准100次

                %dt= t(:"view.welcome.used_times")
                %dd.lesson_used_times= 10
                %dt= t(:"view.welcome.surplus_times")
                %dd.lesson_surplus_times= 90

                /%dt= t(:"view.welcome.last_training_time)
                /%dd.last_training_time 2012/09/21
                /%dt= t(:"view.welcome.last_training_trainer)
                /%dd.last_training_trainer Ray

