%html
  %head
    = stylesheet_link_tag :welcome
    = javascript_include_tag :application
    = javascript_include_tag :moment
    = javascript_include_tag "widget/member_id_input"
    = javascript_include_tag :welcome
  %body
    #container
      #header
        %span.company-name OZone
        %span.system-name Swap Card
        #member-id
      #content
        #board
          #avatar-wrapper
            #avatar
              = image_tag 'default_avatar_128_128.jpg', :width => 128, :height => 128
          #info
            #welcome-info
              %span.name XXX
              %span.gender 先生
              %span.greeting ,您好
            %ul#notification
              %li.important 生日快乐


