<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @contract_type.id %>
</p>

<p>
  <b>Name:</b>
  <%= @contract_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @contract_type.description %>
</p>


<%= link_to 'Edit', edit_contract_type_path(@contract_type) %> |
<%= link_to 'Back', contract_types_path %>
