= form_for [:admin, @locker], :html =>one_submit_only(:locker), :remote => true do |f|
  = link_to_close new_admin_locker_path
  = f.error_messages :object_name => t(:locker)
  = render :partial => "admin/lockers/top_section", :locals =>{ :f =>f }
  .buttonbar
    = f.submit t(:create_locker), :id => :locker_submit
    or
    = link_to_cancel new_admin_locker_path
