%li[locker]
  - unless locker.overdue?
    .strip{:class => locker.status} #{t(locker.status)}
  - else
    .strip{:class => "overdue"} #{t(:overdue)}

  -#.tools
  -#  - if locker.occupied?
  -#    = link_to_restore locker
  -#  - if locker.available?
  -#    = link_to_rent locker

  .indent
    = locker.identifier
    %tt
    - if locker.occupied?
      %dt
        - unless @account
          - account = locker.locker_rent.account
          = link_to account.name, account
          |
        %span{:class => "#{locker.overdue? ? "overdue": ""}"}
          = locker.locker_rent.started_on.to_date
          \-
          = locker.locker_rent.finished_on.to_date

