<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @locker.string %>
</p>

<p>
  <b>Account:</b>
  <%= @locker.account %>
</p>

<p>
  <b>Contract:</b>
  <%= @locker.contract %>
</p>

<p>
  <b>Start date:</b>
  <%= @locker.start_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @locker.due_date %>
</p>


<%= link_to 'Edit', edit_locker_path(@locker) %> |
<%= link_to 'Back', lockers_path %>
