- contract_templates_size = contract_type.contract_templates.size
%li[contract_type]
  .tools
    = link_to_edit(contract_type, :url => edit_admin_contract_type_path(contract_type)) << " |"
    - if contract_templates_size > 0
    - else
      = link_to_delete(contract_type, :url => url_for([:admin, contract_type]))

  %span.black= contract_type.name
  %dt= t(:description)
  %dd= contract_type.description

  %ul.list.contract-templates{:id => "contract_type_#{contract_type.id}_contract_templates"}
    = render :partial => "admin/contract_templates/contract_template", :collection => contract_type.contract_templates

  .bottom_tools
    = link_to_inline(:"create_contract_type_#{contract_type.id}_contract_template", new_admin_contract_type_contract_template_path(contract_type), :text => t(:add_template))
  .remote{hidden.merge(:id => "create_contract_type_#{contract_type.id}_contract_template") }
