.title
  %span#schedule #{t :weekly_schedules, :first_day => @dates.first, :last_day => @dates.last}
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

.list#schedules
  %table
    %tr
      %th
      - @dates.each do |date|
        %th #{date.strftime("%a %m/%d")}
    - @schedules.each do |user, schedule|
      %tr
        %th #{user.full_name} #{"#{user.mobile}" if user.mobile}
        - @dates.each do |date|
          %td
            - slot = schedule.slots_by_date(date).first
            - if slot
              #{time_to_s(slot.start_time)}-#{time_to_s(slot.end_time)}
            - else
              |NA




