#lessons
  %br
  %div.subtitle_tools
    = link_to_inline("new_lesson", new_participation_account_path(object), :text => t(:"new_lesson"))
  .subtitle#new_lesson_title= t(:lessons)
  .remote#new_lesson{:style =>"display:none;"}
  .remote#new_lesson_transfer{:style => "display:none;"}

  .list#participations
    - unsigned_contracts = @account.contracts.lesson_contracts.unsigned.order("created_at DESC")
    - unsigned_contracts.each do |contract|
      = render :partial => "contracts/contract", :locals => {:contract => contract}
    - unsigned_contracts = @account.contracts.lesson_transfer_contracts.unsigned.order("created_at DESC")
    - unsigned_contracts.each do |contract|
      = render :partial => "contracts/contract", :locals => {:contract => contract}
    - participations = object.participations.normal
    - if participations
      = render :partial =>"participations/participation", :collection => participations ,:as => :participation
