%h3= t(Contracts::LessonContract.to_s.underscore)
= form_for [account, contract], :url => update_participation_account_path(account), :method => :put, :remote => true do |f|
  = link_to_close new_participation_account_path(account)
  = error_messages_for contract, :object_name => t('contract')
  = render "contracts/lesson_contract", :f => f
  .buttonbar
    = f.submit t(:new), :id => :new_lesson_submit
    or
    = link_to_cancel new_participation_account_path(account)
