= form_for :account_survey, :url => survey_account_path(@account), :remote => true do |f|
  = link_to_close survey_account_path(@account)
  .section
    %table
      %tr
        %td
          = f.collection_select :survey_id, @surveys, :id, :title
  .buttonbar
    = f.submit t(:new), :id => :new_survey_submit
    or
    = link_to_cancel survey_account_path(@account)