.filters#filters
  = render "shared/search"
  .label #{t :consultant}:
  = scoped_users_filter(User.active.consultants, :assigned_to)

  .label #{t :trainer}:
  = scoped_users_filter(User.active.trainers, :trainer_id)

  = hook(:index_account_sidebar_bottom, self)
  - Setting[:account_status].each do |key|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @account_state_total[key]
      = account_state_checkbox(key, @account_state_total[key])
      = label_tag(key, t(key))

  .check_box
    %div{:style => "float:right;"}
      %b= @account_state_total[:all]
    %b #{t :total_accounts}
  = hook(:index_account_sidebar_bottom, self)

:javascript
  document.observe('dom:loaded', function () {
    new Chosen($('account_assigned_to'), { allow_single_deselect: true })
    new Chosen($('account_trainer_id'), { allow_single_deselect: true })

  })
