#suspend_membership
  %h3 Suspend Membership for #{account.name}
  = form_for account, :url => do_suspend_account_path(account), :remote => true do |f|
    = link_to_close suspend_account_path(account)
    .section
      = f.fields_for(account.membership) do |m|
        = m.error_messages :object_name => t(:membership_state)
        %table
          %tr
            %td
              .label.top.req= t('view.membership.started_on') + ":"
              = m.text_field :started_on
            %td
              .label.top.req= t('view.membership.finished_on') + ":"
              = m.text_field :finished_on
    .buttonbar
      = f.submit t(:suspend), :id => :account_suspend_submit
      or
      = link_to_cancel suspend_account_path(account)
