- edit ||= false

= hook(:account_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top.req #{t :first_name}:
          = f.text_field :first_name
        %td= spacer
        %td
          .label.top{ :class => "#{Setting.require_last_names ? 'req' : ''}" } #{t :last_name}:
          = f.text_field :last_name
      %tr
        %td
          .label #{t :avatar}:
          - if @account.avatar?
            = image_tag(@account.avatar_url)
          = f.file_field :avatar
          = f.hidden_field :avatar_cache
      %tr
        %td{:colspan => 3}
          %table
            %tr
              %td
                .label #{t :assigned_to}:
                - if !edit || can?(:update_consultant, @account)
                  = scoped_users_select(:account, assignable_consultants, :full_description, :assigned_to, {}, :style => "width:160px")
                - else
                  .value= @account.assignee.full_name
              %td= spacer
              %td
                .label #{t :trainer}:
                - if !edit || can?(:update_trainer, @account)
                  = scoped_users_select(:account, assignable_trainers, :full_description, :trainer_id, {:include_blank => true}, :style => "width:160px")
                - else
                  .value= @account.trainer.full_name
              %td= spacer
              %td
                .label #{t :rating}:
                = rating_select "account[rating]", { :id => :account_rating, :selected => @account.rating, :style => "width:160px" }

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:account_top_section_bottom, self, :f => f)
