#transfer_membership.remote
  %h3 Transfer Membership for #{account.name}
  = form_for account, :url => promote_transfer_account_path(account), :remote => true do |f|
    = link_to_close suspend_account_path(account)
    .section
      = f.fields_for(membership_transfer) do |m|
        = m.error_messages :object_name => t(:membership_transfer)
        %table
          %tr
            %td
              .label.req= t(:contract_id)
              = m.text_field(:contract_id) << %Q{<a href='#' onclick="crm.create_contract('#{ContractType.type_for(@membership_transfer)}', 'account_membership_transfer_contract_id');">#{t :create_contract}</a>}.html_safe
          %tr
            %td
              .label.req= t(:to_membership)
              = m.collection_select :to_membership_id, Membership.includes(:account).transfer_acceptable.all, :id, :name
    .buttonbar
      = f.submit t(:transfer), :id => :account_transfer_submit
      or
      = link_to_cancel transfer_account_path(account)
