#transfer_membership.remote
  %h3 Transfer Membership for #{account.name}
  = form_for account, :url => promote_transfer_account_path(account), :remote => true do |f|
    = link_to_close suspend_account_path(account)
    .section
      %table
        = f.fields_for(account.membership) do |m|
          = f.fields_for(@membership_state) do |s|
            = m.error_messages :object_name => t(:membership_state)
            %tr
              %td
                .label.top= t(:contract_id)
                = m.text_field(:contract_id) << %Q{<a href='#' onclick="crm.create_contract('#{ContractType.type_for('membership transfer')}', 'account_membership_contract_id');">#{t :create_contract}</a>}.html_safe
              %tr
                %td
                  = s.fields_for(:parameters_attributes) do |p|
                    .label.req= t(:target)
                    = p.collection_select :target_id, Membership.includes(:account).transfer_acceptable.all, :id, :name
    .buttonbar
      = f.submit t(:transfer), :id => :account_transfer_submit
      or
      = link_to_cancel transfer_account_path(account)
