= styles_for :membership_state, :task, :contact, :opportunity

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_account, edit_account_path(@account), :text => t(:edit))
  - if false
    = link_to_function(t(:delete) + '?', confirm_delete(@account))
.title#edit_account_title= h(@account.name)

%div#edit_account{ hidden }

= render "comments/new", :commentable => @account
= render :partial => "shared/timeline", :collection => @timeline

= hook(:show_account_bottom, self) do
  = render :partial => "memberships/states", :locals => {:object => @account.membership}

  = render :partial => "lessons", :locals => {:object => @account}

  = render :partial => "account_surveys", :locals => {:object => @account}

  #lockers_container
    = render :partial => "account_lockers", :locals => {:object => @account}

  = render :partial => "tasks/tasks", :locals => {:object => @account}

  = load_select_popups_for(@account, :tasks)
